/* main css file */
body {
  padding: 0px;
  margin: 0px;
  display: grid;
  text-align: center;
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0px;
  margin: 0px;
}

#header {
  width: 100%;
  background-color: #967bb6;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.grid-container {
  display: grid;
  background-color: rgb(253, 193, 82);
  width: 40rem;
  height: 40rem;
  border: 1rem solid rgb(253, 193, 82);
  border-radius: 10px;
  margin-bottom: 8px;
  margin-top: 40px;
}
.color-dark-blue {
  border-color: black;
  border: solid 1px rgb(65, 21, 21);
  border-radius: 3px;
  background-color: #1f2937;
  color: aqua;
  box-sizing: border-box;
}
.color-sky-blue {
  background-color: skyblue;
  border-color: black;
  border: solid 1px rgb(65, 21, 21);
  box-sizing: border-box;
  border-radius: 3px;
}
.dot {
  font-weight: bolder;
  background-color: skyblue;
}
.X {
  font-weight: bolder;
  background-color: skyblue;
  color: red;
}
#buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#game-board {
  display: flex;
  justify-content: space-around;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#inputs {
  display: flex;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}

.input-label {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.input-label label.text {
  font-size: 0.75rem;
  color: #818cf8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.input-label input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818cf8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.input-label input[type="text"].input:focus {
  outline: none;
}

.priority-input,
.date-input,
#ship1,
#ship2,
#ship3,
#ship4 {
  background-color: #e8e8e8;
  padding: 11px 10px;
  border: 2px #818cf8 solid;
  border-radius: 5px;
  color: #0e3d4b;
}
/* here ends the input card */
option {
  background-color: #0e3d4b;
}
button {
  background-color: #818cf8;
  color: #ffffff;
  border-color: #818cf8;
  border-radius: 10px;
  border-style: solid;
  width: 85px;
  height: 35px;
  justify-self: center;
  /* margin-bottom: 20px; */
  font-weight: bolder;
}

button:hover {
  background-color: #145274;
  border-color: #145274;
}
